html, body {
	height: 100%;
}


#doc3 {margin:auto;}

.back{
	height: 100%;
	width: 100%;
	margin: 0 auto;
	position: absolute;
	
}

#doc3, #hd {
	background-image: url("entree_logo.png");
	position: relative;
}